.content {
    margin: 0 51px;
}


/* Меню */

.menu {
    margin: 40px 0 24px 17px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.menu_item {
    list-style-type: none;
    margin-right: 38px;
}

.menu_item > a, .menu_item > a:hover, .menu_item > a:active{
    font-size: 17px;
    text-decoration: none;
    color: white;
}

.menu_item > a:hover {
    text-decoration: underline;
}


/* Input */

.input {
    display: flex;
    flex-direction: column;
}

.input_label {
    font-family: "Gotham Pro";
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    color: rgba(235, 235, 245, 0.6);
    padding-left: 12px;
    margin-bottom: 5px;
}

.input_text {
    width: 343px;
    height: 36px;
    border-radius: 10px;
    font-family: "Gotham Pro";
    font-size: 17px;
    color: rgba(235, 235, 245, 0.6);
    background-color: rgba(118, 118, 128, 0.24);
    outline: none;
    border: none;
    padding-left: 12px;
}

.input_file {
    display: none;
}

.input_file-mask {
    width: 122px;
    height: 86px;
    background-color: rgba(118, 118, 128, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.input_file_img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}


.button_submit {
    width: 343px;
    height: 50px;
    background-color: #007AFF;
    border: none;
    border-radius: 8px;
    font-family: "Gotham Pro";
    font-size: 17px;
    color: white
}


.res_label {
    font-family: "Gotham Pro";
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    color: rgba(235, 235, 245, 0.6);
    padding-left: 12px;
    margin: 0 0 5px;
}

.res_text {
    display: block;
    overflow: auto;
    width: 343px;
    min-height: 120px;
    border-radius: 10px;
    color: white;
    background-color: rgba(118, 118, 128, 0.24);
}

.res_text > pre {
    margin: 0;
}

.colors {
    display: flex;
    width: 343px;
    height: 379px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 26px;
}

.color_input {
    display: none;
}

.color_block {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    -webkit-appearance: none;
    background-color: transparent;
    appearance: none;
    padding: 0;
    border: none;
    margin-right: 24px;
    margin-bottom: 15px;
}

.color_block::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
    width: 54px;
    height: 54px;
}

.color_cross {
    display: none;
    position: relative;
    left: 46px;
    top: -8px;
}

/* .color_block {
	-webkit-appearance: none;
	border: none;
}
.color_block::-webkit-color-swatch-wrapper {
	padding: 0;
}
.color_block::-webkit-color-swatch {
	border: none;
} */
