@import "./style/font.css";

body {
  margin: 0;
  font-family: "Gotham Pro";
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, li {
  font-family: "Gotham Pro" sans-serif;
  color: white;
}
